/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 /* Palette */

 
$light-grey: #F4F4F4;
$dark-grey: #7A8890;
$black: #292E3A;
$blue: #1445C7;
$cyan: #05E6DD;


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
    font-family: 'suisse_intlmedium';
    src: url('suisseintl-medium-webfont.woff2') format('woff2'),
         url('suisseintl-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'suisse_intl_monoregular';
    src: url('suisseintlmono-webfont.woff2') format('woff2'),
         url('suisseintlmono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'suisse_intlbook';
    src: url('suisseintl-book-webfont.woff2') format('woff2'),
         url('suisseintl-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
p {
  color:$black;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

// Begin Main CSS
.section-title {
  color:$dark-grey;
  font: 60px 'suisse_intlbook', sans-serif;
}

body.container-fluid {
  padding: 0;
  margin: 0;
}

$container-padding: 98px;

.pad-left {
  padding-left: $container-padding;
}
.pad-right {
  padding-right: $container-padding;
}


//Typography

h6 {
  font: 500 14px 'suisse_intlmedium', sans-serif;
  letter-spacing: 1.4px;
  color:#4C5A68;
  text-transform: uppercase;
  margin-bottom: 20px;
}
p {
  font-size: 18px;
  letter-spacing: -0.34px;
}

//post card styling
.post-card {
  img {
    border-radius: 7px;
  }
  header {
    margin: 30px auto;
    h3 {
      color: $dark-grey;
      font-size: 33px;
      letter-spacing: -0.34px;
      margin-bottom: 0px;
    }
    h2 {
      font-size: 33px;
      letter-spacing: -0.34px;
    }
  }
  footer {
    h4 {
      color:$blue;
      font: 18px 'suisse_intlmedium', sans-serif;
      margin-bottom: 0;
    }
    h5 {
      color:$dark-grey;
      font: 18px 'suisse_intlmedium', sans-serif;
      margin-bottom: 0;
    }  
  }
}


#site-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  backface-visibility: hidden;
  z-index: 2;
  top:0;
  left:0;
  height: 90px;
  width: 100%;
  background-color: white;
  z-index: 2;
  a.site-logo {
    padding: 25px 19px;
    margin-right: 50px;
    background-color: #f4f4f4;
    img {
      width: 60px;
    }
  }
}

nav.main-navigation {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    margin: 0;
    list-style: none;
    li {
      margin-right: 40px;
      a {
        text-align: left;
        font: 12px 'suisse_intlmedium', sans-serif;
        letter-spacing: 1.2px;
        color: $dark-grey;
        text-transform: uppercase;
        transition: color 0.2s;
        &:hover {
          color: darken($dark-grey, 30%);
          transition: color 0.2s;
          text-decoration: none;
        }
      }    
    }
  }
}
.account-bar {
  display: flex;
  .user-bar {
    display: flex;
    align-items: center;
    margin-right: 30px;
    span {
      font: 14px/40px 'suisse_intlbook', sans-serif;
      color:$black;
      margin-right: 15px;
    }
    .user-avatar {
      display: flex;
      .user-image {
        width: 35px;
        height: 35px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 10px;
      }
      .down-arrow {
        width: 13px;
        height: 8px;
        align-self: center;
      }
    }
  }
  .actions {
    display: flex;
    button {
      background-color: white;
      font-size: 0px;
      border:none;
      border-left: 1px solid #B8C5CA;
      display: flex;
      height: 90px;
      width: 98px;
      align-items: center;
      justify-content: center;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

#mobile-menu {
  padding:25px;
  border-left: 1px solid rgba(122, 136, 144, 0.37);
  nav.main-navigation {
    flex-direction: column;
    a.site-logo {
      margin-bottom: 20px;
    }  
    ul {
      flex-direction: column;
      padding: 0;
      width: 100%;
      li {
        margin-right: 0;
        a {
          display: block;
          width: 100%;
          font-size: 19px;
          padding: 15px 0px;
          border-bottom: 1px solid rgba(122, 136, 144, 0.37);
        }
      }
    }
  }
  .account-bar {
    flex-direction: column;
    align-items: center;
    .user-bar {
      margin-right: 0;
      margin-top: 50px;
      margin-bottom: 25px;
    }
    .actions {
      button:last-of-type {
        border-right: 1px solid #B8C5CA;
      }
    }
  }
}





main#site-content {
  //margin-top: 90px;
  section#featured {
    padding-top: 120px;
    background-color: $light-grey;
    header.section-header {  
      margin: 0;
      margin-bottom: 70px;
      hr {
        width: 100%;
        margin-bottom: 35px;
        border-color: $dark-grey;
      }
      h2.post-title {
        font-size: 60px;
        width: 769px;
        float: right;
        margin-right: 100px;
      }
    }
    .featured-post {
      display: none;
    }
    .featured-post.post-id-1 {
      display: block;
    }
    article.post-content {
      .post-card {
        padding-right: 50px;
      }    
    }
    nav {
      margin-top: 200px;
      padding-bottom: 50px;
      ul {
        margin:0;
        padding:0;
        display: flex;
        list-style: none;
        li {
          width: 40px;
          height: 40px;
          position: relative;
          overflow: hidden;
          border-radius: 50%;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          &:not(.active):hover button {
            background-color: lighten($blue, 50%);
            transition: all 0.25s;
          }
          &:last-of-type {
            margin-right: 0px;
          }
          &.active {
            background-color: $blue;
            button {
              color:white;
            }
          }
          button {
            background: none;
            border: none;
            color:$dark-grey;
            width: 40px;
            height: 40px;  
            transition: all 0.25s;
          }
        }
      }
    }

  }
  section#popular {
    padding-top: 100px;
    padding-bottom: 100px;
    .articles {
      display: flex;
      article {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        border-left: 1px solid #B8C5CA;
        span.count {
          color: $dark-grey;
          font-size: 60px;
          letter-spacing: -0.6px;
        }
        .post-card {
          margin-top: auto;
        }
      }
    }
  }
  section#apply {
    background-color: $light-grey;
    padding-bottom: 120px;
    > header {
      padding: 170px 0px;
      display: flex;
      align-content: flex-end;
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 300px;
      h2 {
        font-size: 60px;
        margin-bottom: 0px;
        span {
          color:$dark-grey;
        }
      }
    }
    .row {
      .image-section {
        img {
          border-radius: 7px;
        }
      }
      .text-section {
        align-self: flex-end;
        padding: 0px 100px;
        header {
          margin-bottom: 40px;
          h2 {
            font: 500 34px 'suisse_intlmedium', sans-serif;
            letter-spacing: -0.34px;
          }
          h6 {
            margin-bottom: 20px;
          }    
        }
        a.button {
          display: inline-block;
          margin-top: 40px;
          padding: 18px 24px;
          background: $black 0% 0% no-repeat padding-box;
          border-radius: 6px;
          font: 12px 'suisse_intl_monoregular', monospace;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          color:white;
        }
      }
    }
  }
  section#recent-highlights {
    padding: 100px 0px;
    > header {
      display: flex;
      margin-bottom: 100px;
      justify-content: space-between;
      align-items: center;
      h2 {
        margin-bottom: 0;
      }
      span.view-all {
        color: $dark-grey;
        font: 500 22px 'suisse_intlmedium', sans-serif;
        font-size: 22px;
        a {
          color:$dark-grey;
          text-decoration: underline;
          text-decoration-color: $cyan;
        }
      }
    }
    .post-loop {
      display: flex;
      flex-wrap: wrap;
      article {
        margin-top: auto;
        margin-bottom: 100px;
        .post-card {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

footer#site-footer {
  .logo-socials {
    display: flex;
    flex-direction: column;
    a.logo {
      img {
        width: 150px;
      }
    }
    nav#social-links {
      margin-top: auto;
      ul {
        margin:0;
        padding: 0;
        list-style: none;
        display: flex;
        li {
          margin-right: 20px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
  .site-links {
    nav {
      h6 {
        margin-bottom: 15px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          margin-bottom: 15px;
          &:last-of-type {
            margin-bottom: 0;
          }
          a {
            color:$black;
            font: 500 22px 'suisse_intlmedium', sans-serif;
          }
        }
      }
    }
  }
  .site-credits {
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    p.copyright, .credit-links ul li a {
      font: 400 14px 'suisse_intlbook', sans-serif;
      color: $dark-grey;
    }
    .credit-links {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        li {
          a {
            strong {
              color: $black;
            }
          }
        }
      }
    }
  }
}

body::after {
  content: '';
  display: block;
  height: 12px;
  background: transparent linear-gradient(270deg, #05E6DD 0%, #1445C7 100%) 0% 0% no-repeat padding-box;
}

#site-header .hamburger {
  display: none;
}
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 3;
  background-color: white;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
} 
// Responsive

@media only screen and (max-width:1450px) {

  .section-title {
    font-size: 40px;
  }

  main#site-content section#featured header.section-header h2.post-title {
    font-size: 40px;
  }

  #site-header {
    border-bottom: 1px solid $light-grey;
    nav.main-navigation ul {
      display: none;
    }
    .account-bar {
      display: none;
    }
    .hamburger {
      display: inline-block;
    }
  }

}

@media only screen and (max-width: 1308px) and (min-width:1038px) {
  footer#site-footer .site-links nav ul li a {
    font-size: 17px;
  }
}


@media only screen and (max-width: 1283px) {

  main#site-content section#featured header.section-header {
    flex-direction: column;
    h2.post-title {
      float: left;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 1038px) {

  footer#site-footer {
    > .row {
      flex-direction: column;
    }
    .logo-socials {
      margin-bottom: 50px;
      a.logo {
        margin-bottom: 25px;
      }
    }
    .site-links {
      flex-direction: column;
      nav {
        margin-bottom: 50px;
        &:last-of-type {
          margin-bottom: 0px;
        }
        &.col-lg-4 {
          flex: 0 0 100%;
          max-width: 100%;
        }
  
      }
    }
    .site-credits {
      margin-left:0;
      flex-direction: column;
      ul {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 991px) {

  .pad-left {
    padding-left: 30px;
  }
  .pad-right {
    padding-right: 30px;
  }
  .post-card img {
    max-height: 500px;
  }
  main#site-content {
    section#featured {
      article.post-content {
        flex-direction: column-reverse;
        padding-right: 30px;
        nav {
          margin-top: 50px;
        }
      }
      header.section-header h2.post-title {
        width: auto;
      }
    }
    section#popular .articles article {
      margin-bottom: 50px;
      &:last-of-type {
        margin-bottom: 0px;
      }
    }
    section#apply {
      padding-bottom: 0;
      > header {
        padding: 100px;
        display: block;
      }
      .row {
        .image-section img {
          border-radius: 0;
        }
        .text-section {
          padding: 100px 100px;
        }
      }
    }
  } 
}

@media only screen and (max-width: 650px) {
  main#site-content {
    section#apply {
      > header {
        padding: 60px;
        h2 {
          font-size: 40px;
        }
      }
      .row .text-section {
        padding: 50px 30px;
      }
    }
    section#recent-highlights {
      > header {
        align-items: flex-start;
        flex-direction: column;    
        h2 {
          margin-bottom: 10px;
        }
      }
    }
  }
}